
.delete-icon{

font-size: 100px;
text-align: center;
color:#FF285C;

}
.delete-direction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.delete-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}
.delete-btn{
    background-color:#FF285C;;
}